{
    "branches": [
        "master",
        {
            "name": "alpha",
            "prerelease": true
        },
        {
            "name": "beta",
            "prerelease": true
        },
        "*.x"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github"
    ]
}