name: Run Tests

on:
  workflow_call:
  push:
    branches: [dev]
  pull_request:
    branches: [dev, alpha, beta, master]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        php: ["8.2", "8.3", "8.4", "8.5"]
        laravel: ["11", "12"]
        exclude:
          - php: 8.5
            laravel: 11

    name: PPHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Get Composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> "$GITHUB_OUTPUT"

      - name: Cache Composer dependencies
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            ${{ runner.os }}-php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-

      - name: Validate composer files
        run: composer validate --strict

      - name: Install dependencies
        run: |
          composer remove --dev --no-update genphrase/genphrase martbock/laravel-diceware phpbench/phpbench
          composer update --prefer-dist --no-interaction --no-progress --with="illuminate/contracts:^${{ matrix.laravel }}"

      - name: Run tests
        run: composer test
